body{
    background-size: 100%;
    background-image: url(images/8.png)
}
.overlay{    
    background-color: black;
    padding: 100px;
    opacity: 0.7;
}
#picture{
    position: relative;
    margin-top: -100px;
    margin-left: 60px;
}
.nav{
  height:50px;
}
.navbar-brand{
  margin: 0px;
  padding:2px;
}
#myNavbar{
  padding-top: 12px;
}
#myNavbar #nav-ul #ul-li a{
  color: #3385ff;
  font-weight: bold;
}
#si, #li{
  border: 1px solid #3385ff;
  margin: 12px;
  padding: 2px 15px;
  border-radius: 20px;
}